<form id="frmPreselect" name="frmPreselect">
	<span class="save">&#9662;<span>
	<input type="text" name=story[title] placeholder="story title" 
		class="storyTitle" value="<%= story.escape('title') %>">
		<br>
	<button class="delete">Delete</button>
	<button class='save'>Save</button>
	
	<br>

	<label>Story Type</label>
	
	<select name=story["story_type"] class="storyType" id="story_type">
		<option value="feature" <%= (story.get('story_type') === 'feature') ? 'selected' : '' %>> &#9733 feature</option>
		<option value="bug" <%= (story.get('story_type') === 'bug') ? 'selected' : '' %>> &#8416 bug</option>
		<option value="chore" <%= (story.get('story_type') === 'chore') ? 'selected' : '' %>> &#9881 chore</option>
	</select>
	
	<br>
	
	<label>Points</label>
	<select name=story["points"] class="storyPoints">
	  <option value="unestimated" <%= (story.get('points') === "unestimated" ) ? 'selected' : '' %>>unestimated</option>
		<option value=0 <%= (story.get('points') === "0" ) ? 'selected' : '' %>>0</option>
		<option value=1 <%= (story.get('points') === "1" ) ? 'selected' : '' %>>1</option>
		<option value=2 <%= (story.get('points') === "2" ) ? 'selected' : '' %>>2</option>
		<option value=3 <%= (story.get('points') === "3" ) ? 'selected' : '' %>>3</option>
	</select>
	
	<br>
	
	<label> State </label>
	<% if (story.get('state') === "unscheduled") { %>
		<%= '' %>
	<% } else if (story.get('state') === "unstarted" ) { %>
		<button>start</button>
	<% } else if (story.get('state') === "started" ) { %>
		<button>finish</button>
	<% } else if (story.get('state') === "finished" ) { %>
		<button>delivered</button>
	<% } else if (story.get('state') === "delivered" ) { %>
		<button>accept</button> <button>reject</button>
	<% } else if (story.get('state') === "rejected" ) { %>
		<button>restart</button>
	<% } else { %>
		<%= '' %>
	<% } %>

	
	<select name=story["state"] class="storyState">
	  <option value="unscheduled" <%= (story.get('state') === "unscheduled" ) ? 'selected' : '' %>>unscheduled</option>
		<option value="unstarted" <%= (story.get('state') === "unstarted" ) ? 'selected' : '' %>>unstarted</option>
		<option value="started" <%= (story.get('state') === "started" ) ? 'selected' : '' %>>started</option>
		<option value="finished" <%= (story.get('state') === "finished" ) ? 'selected' : '' %>>finished</option>
		<option value="delivered" <%= (story.get('state') === "delivered" ) ? 'selected' : '' %>>delivered</option>
		<option value="rejected" <%= (story.get('state') === "rejected" ) ? 'selected' : '' %>>rejected</option>
		<option value="accepted" <%= (story.get('state') === "accepted" ) ? 'selected' : '' %>>accepted</option>
	</select>
	
	MUST CHANGE UPDATE METHOD
	<br>
	
	<label>
	  Description
		<br>
		<input type=text name=story["description"] class="storyDescription" value="<%= story.escape('description') %>"></textarea>
	</label>
	
</form>