<!DOCTYPE html>
<html>
<head>
	<title>Epictracker</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-flash"></span>epictracker</a>
		<ul class="nav nav-pills navbar-right">
		  <li class="active"><%= link_to("Projects", "#")%></li>
			<% if user_signed_in? %>
			  <li class="active">
			  <%= link_to("Sign Out", destroy_user_session_path, :method => :delete) %>        
			  </li>
			<% else %>
			  <li class="active">
			  <%= link_to('Sign In', new_user_session_path)  %>  
			  </li>
			  <li class="active">
			  <%= link_to('Sign Up',  new_user_registration_path)  %>  
			  </li>
			<% end %>
		</ul>
	</nav>
	<% if notice || alert %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<% end %>
	
	<%= yield %>

</body>
</html>
